* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --darkest: #000;
  --lightGrey: #f5f5f5;
  --blue: cornflowerblue;
  --red: rgb(231, 77, 50);
  --background-opacity: rgba(0, 0, 0, 0.6);
  --disabled-backround: rgb(239, 238, 238);
  --disabled-font-color: rgb(215, 215, 215);
}

body {
  min-height: 100vh;
  line-height: 1.4;
  font-family: sans-serif;
}

/**** HEADER ****/
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  width: 100%;
  background-color: var(--darkest);
  padding: 0 1rem;
  color: var(--white);
  font-size: 1.5rem;
}

header h1 {
  font-size: 1.7rem;
}

header a,
.icon {
  text-decoration: none;
}

header a {
  color: var(--white);
}

/**** MAIN START PAGE ****/
main {
  margin-top: 6vh;
  width: 100%;
}

.product-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94vh; /*ADDED*/
}

.product-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card h2 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.product-wrapper:nth-child(odd) {
  background-color: var(--lightGrey);
}

.product-card .product-description,
.product-card .product-price {
  font-weight: bold;
}

.product-card .product-price {
  margin-bottom: 0.8rem;
}

.product-card .product-description {
  font-size: 0.75rem;
  text-align: center;
}

.product-card .product-image {
  height: 21rem;
  width: auto;
  margin: 0.8rem 0;
}

.btn {
  color: var(--white);
  border: 0;
  border-radius: 5px;
  padding: 0.7rem 1.2rem;
  font-size: 1.15rem;
  cursor: pointer;
}

.btn i {
  margin-right: 8px;
  font-size: 0.9rem;
}
.add-btn {
  background-color: var(--blue);
}

.remove-btn {
  background-color: var(--red);
}

.confirm-btn {
  background-color: var(--blue);
  width: 80%;
  margin-top: 1rem;
}

.disabled-btn {
  background-color: var(--disabled-backround);
  color: var(--disabled-font-color);
  cursor: default;
}

/**** CART PAGE STYLING ****/
.cart-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-page #cartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.cart-page .cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--lightGrey);
  margin: 5px;
  padding: 0.7rem;
  width: 45%; /*ADDED*/
}

.cart-wrapper img {
  height: 200px;
}

.cart-wrapper button {
  margin: 0 0.5rem;
  border-radius: 10px;
}

.cart-wrapper .product-price {
  font-weight: bold;
  margin-bottom: 1rem;
}

.cart-title {
  margin: 2rem 0;
}

.cart-title i {
  color: var(--darkest);
}

#cartSummary {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9rem;
}

#cartSummary span {
  font-weight: bold;
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--background-opacity);
}

#modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 80%;
  height: 40%;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}

/**** LOGIN / CREATE ****/
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  width: 80%;
  max-width: 350px;
  margin-top: 10rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 10px;
}

input {
  border: none;
  border-radius: 5px;
  background: var(--lightGrey);
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

.login-btn,
.create-btn {
  background-color: var(--blue);
  width: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
}

.formLink {
  color: var(--darkest);
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.create-form {
  display: none;
}

/**** USER ****/
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--lightGrey);
  margin-bottom: 2rem;
}

.user-container h2 {
  margin-top: 2rem;
}

.signout-btn {
  background-color: var(--blue);
  margin: 1rem 0;
  width: 100%;
  max-width: 300px;
}

.order-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-container h2 {
  margin-bottom: 1rem;
}

#orderInformation {
  width: 100%;
}

#orderInformation article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.order:nth-child(odd) {
  background-color: var(--lightGrey);
}

#orderInformation span {
  font-weight: bold;
}

#orderInformation ul {
  list-style: none;
}

/**** MEDIA QUERIES TABLET ****/
@media (min-width: 768px) {
  header {
    height: 8vh;
  }
  main {
    margin-top: 8vh;
  }
  .product-card .product-image {
    height: 20rem;
    margin: 0;
  }
  .cart-page .cart-wrapper {
    width: 22%;
  }

  .cart-wrapper img {
    height: 200px;
  }
  #modal-container {
    width: 40%;
  }
  #orderInformation article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

/**** MEDIA QUERIES DESKTOP ****/
@media (min-width: 1024px) {
  .product-wrapper {
    padding: 4rem;
  }
  .product-card .product-image {
    height: 23rem;
    margin: 0;
  }

  .cart-page .cart-wrapper {
    width: 21%;
  }
}
