* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --darkest: #000;
}

body {
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: var(--darkest);
  padding: 0 1rem;
  color: var(--white);
  font-size: 1.8rem;
}

main {
  margin-top: 10vh;
  width: 100%;
}

.product-image {
  width: 100%;
}

.add-to-cart-btn {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.7rem 1.2rem;
  font-size: 1.15rem;
}

.add-to-cart-btn i {
  margin-right: 8px;
  font-size: 0.9rem;
}